
<div style="text-align: center;">
  <h3><span class="badge badge-pill badge-primary">Ticket Volume by Geo Location</span></h3>   
  <div *ngIf='geoLocDataPresent' style="text-align:center;">                 
    <div class="chart-wrapper">
          <canvas baseChart height="220px"
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          [options]="polarChartOptions" >                    
        </canvas>
      </div>
   </div>   
   <h4  class="nodataheader" *ngIf='!geoLocDataPresent'>  <span class="nodata">no data available</span>   </h4 >
</div>

     
         
        
       
    
  
