<section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="../../assets/img/business-1836990_1920.jpg" alt="" /></div>
        <div class="formBx">
          <form action="" onsubmit="return false;">
            <h2>Sign In</h2>
            <input type="email" name="" placeholder="Email" />
            <input type="password" name="" placeholder="Password" />
            <input type="submit" name="" (click)="onLoadSettings()" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" (click)="toggleForm()">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="" onsubmit="return false;">
            <h2>Create an account</h2>
            <input type="text" name="" placeholder="Username" />
            <input type="email" name="" placeholder="Email Address" />
            <input type="password" name="" placeholder="Create Password" />
            <input type="password" name="" placeholder="Confirm Password" />
            <input type="submit" name="" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#"  (click)="toggleForm()">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="../../assets/img/financial-2860753_1920.jpg" alt="" /></div>
      </div>
    </div>
  </section>