
<router-outlet></router-outlet>

<!-- <app-settings></app-settings> -->

<!-- <app-dashboard-container></app-dashboard-container>  -->




<!-- <div class="form-group header">
     <div class="row contents">
          <div class="col-xl-2 label">
                <label>Country</label>
          </div>
          <div class="col-xl-4">                    
               <select type="text" class="form-control button" name="Countries" (change)="onCountiresChanged($event)">
                    <option   *ngFor="let c of countriesList" [value]="c">
                        {{  c }} 
                    </option>
                </select>
           </div>  
           <div class="col-xl-2 label">
               <label>Date</label>
         </div>                
           <div class="col-xl-4">
                   <input type="text" bsDatepicker 
                   [bsConfig]="{ dateInputFormat: 'MMMM YYYY'}" 
                   (ngModelChange)="onDateChanged($event)"                     
                   #item
                   [ngModel]="datepickerModel" 
                   class="form-control button">
           </div>
     </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-xl-12">
              <app-doughnut-chart></app-doughnut-chart>
            </div>   
                          
    </div> 
    <br>       
    <hr> 
    <br>
    <div class="row">
          <div class="col-xl-12">
               <app-bar-chart></app-bar-chart>
           </div>           
    </div> 
    <br> 
    <hr> 
    <br>   
    <div class="row">
            <div class="col-xl-6">
                 <app-radar-chart></app-radar-chart>
            </div>  
            <div class="col-xl-6">
                    <app-polar-area-chart></app-polar-area-chart>
               </div>           
     </div> 
     <br>
     <hr>
     <br>
     <div class="row">
          <div class="col-xl-12">
               <app-line-chart></app-line-chart>
          </div>           
     </div> 
     <br>    
</div> -->
