<div class="container">
    <div class="row">
     <div class="col-xl-12 center-block" style="text-align:center;">       
          <h3><span class="badge badge-pill badge-primary">Ticket Owner and Assignee</span></h3>
            <ag-grid-angular
                style="align-content: center; width: 800px; height: 300px;"
                class="ag-theme-blue"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                rowSelection="multiple">
            </ag-grid-angular>
     </div>       
    </div>  
  </div>
